<h3>ListadoPeliculas</h3>

@if (Movies == null)
{
    <text>Cargando...</text>
}
else if (Movies.Count() == 0)
{
    <text>No hay registros para mostrar...</text>
}
else
{
    @*<input type="checkbox" @onchange="@(() => MostrarBotones = !MostrarBotones )" />*@
    <input type="checkbox" @bind="MostrarBotones" />


    @foreach (var movie in Movies)
    {
        <PeliculaIndividual Movie="movie" MostrarBotones="MostrarBotones" />
    }

}

@code {

    [Parameter] public List<Movie> Movies { get; set; }
    bool MostrarBotones = false;

}
