<div>

    <p>Titulo: <b>@Movie.Name</b></p>
    <p>Lanzamiento: <b>@Movie.ReleaseDate.ToString("dd MMM yyyy")</b></p>

    @if (MostrarBotones) 
    {
<div>

        <button @onclick="(() => EliminarPelicula.InvokeAsync(Movie))">Borrar </button>
</div>
    }

</div>

@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public bool MostrarBotones { get; set; } = false;
    [Parameter] public EventCallback<Movie> EliminarPelicula { get; set; }

    //void Eliminar()
    //{
    //    Console.WriteLine($"Elimando la pelicula {Movie.Name}");
    //}
}
