@page "/"
@using BlazorWasmTest.Client.Helpers;
@inject IRepositorio Repositorio



<div>

    <h3>Peliculas</h3>

    <ListadoPeliculas Movies="ObtenerPeliculas()"/>



</div>


@code {

    string nombre = "Livingstone";

    private List<Movie> Movies;

    private List<Movie> ObtenerPeliculas()
    {
        Movies = Repositorio.ObtenerPeliculas();

        //Movies = new List<Movie>()
        //{
        //        new Movie() {Name = "Spider Man", ReleaseDate = new DateTime(2019, 07, 014)},
        //        new Movie() {Name = "SuperMan", ReleaseDate = new DateTime(2015, 09, 01)},
        //        new Movie() {Name = "XMen", ReleaseDate = new DateTime(2020, 03, 08)},
        //        new Movie() {Name = "Batman", ReleaseDate = new DateTime(1989, 10, 05)}
        //};

        return Movies;

    }


}